* {
    font-family: "DM Mono", monospace;
}

html, body {
    background: #DFECF0;
}

header nav .nav-link {
    color: #333;
    font-size: 14px;
    font-weight: 300;
}

.home-img {
    aspect-ratio: 60/76;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    text-transform: uppercase;
}

.home-title {
    margin: 0;
}

.about-title {
    line-height: 28.8px;
    margin: 0;
}

p {
    font-family: "DM Sans", sans-serif;
}

.btn {
    border: 1px solid #333;
    border-radius: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

.btn:hover, .btn.active {
    color: #FFF;
    background: #333;
}

.home-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 23.5px;
    text-align: right;
    max-width: 430px;
    margin: 0;
}

.about-description {
    font-size: 16px;
    line-height: 20.83px;
    max-width: 341px;
}

a {
    color: #333;
    font-family: "DM Sans", sans-serif;
}

.guest {
    border-top: 1px solid #333;
}

.guest h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-transform: uppercase;
    margin: 0;
}

.media img {
    aspect-ratio: 404/524;
    object-fit: cover;
}

.media-title {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

footer {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 18.23px;
    text-align: right;
}